@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: Lato;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Lato-Light.ttf");
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  font-style: normal;
  src: url("fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: Lato;
  font-weight: normal;
  font-style: italic;
  src: url("fonts/Lato-LightItalic.ttf");
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  src: url("fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: Lato;
  font-weight: 800;
  font-style: normal;
  src: url("fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: Lato;
  font-weight: 800;
  font-style: italic;
  src: url("fonts/Lato-BoldItalic.ttf");
}

:root {
  --pri: 145, 66, 255;
  --accent: 51, 51, 51;
  --secondary: 80, 80, 80;
  --info: 238, 230, 0;

  --bg: 255, 255, 255;
  --dark: 34, 20, 51;
  --light: 96, 96, 96;

  --text: 43, 43, 43;

  --bs-primary-rgb: var(--pri);
  --bs-info-rgb: var(--info);
  --bs-secondary-rgb: var(--secondary);
  --bs-dark-rgb: var(--dark);
  --bs-light-rgb: var(--light);
  --bs-black-rgb: var(--text);
}

@media print {
  :root {
    font-size: 13px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  font-family: Lato;
  margin: 0;
}

address,
ul {
  margin-bottom: 0;
}

.bg-accent {
  background-color: rgb(var(--accent)) !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-help {
  cursor: help !important;
}

.info:hover {
  background-color: rgba(var(--info), 0.42);
}

.raleway {
  font-family: Raleway;
}

.text-accent {
  color: rgb(var(--accent)) !important;
}

.text-info {
  color: rgb(var(--info)) !important;
}

.text-gradient {
  color: var(--color-1);
}

@media not print {
  .text-dark-gradient {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, var(--color-1) 15%, 25%, var(--color-2));
    color: transparent;
  }
}

.text-dark-gradient {
  --color-1: rgb(var(--text));
  --color-2: rgb(var(--dark));
}
